<div class="row">
	<form name="contactSearchForm" ng-submit="search()">
	<div class="large-12 columns">
		<h3>Contacts</h3>
	</div>
	<div class="large-4 small-12 columns">
		<input class="input-medium search-query" type="search" name="orgName" placeholder="Organisation" ng-model="contactSearchFormData.org_nm" typeahead-min-length="3" typeahead="suggestion.org_nm for suggestion in contactsuggest($viewValue)" ng-uppercase-input2 autofocus />
	</div>
	<div class="large-4 small-12 columns">
		<input class="input-medium search-query" type="search" name="orgName" placeholder="Contact" ng-model="contactSearchFormData.contact_nm" typeahead-min-length="3" ng-uppercase-input2 />
	</div>
	<div class="large-2 small-12 columns">
		<button class="button small radius right" type="submit" id="search-button" ng-disabled="contactSearchForm.$pristine">Search</button>
	</div>
	<div class="large-2 small-12 columns">
		<button class="button small alert right" type="button" ng-click="clearForm();" id="clear-button" ng-disabled="contactSearchForm.$pristine">Clear</button>
	</div>
	<div class="large-12 columns" ng-show="isAdvanced">
		<div class="panel radius">
			<div class="large-4 small-12 columns">
				 <select ui-select2 ng-model="contactSearchFormData.dept_sun" class="input-large" multiple>
                    <option ng-repeat="d in departments" value="{{d.department_no}}">{{d.department_nm}}</option>
                </select>
			</div>
			<div class="large-4 small-12 columns">
				 <select ui-select2 ng-model="contactSearchFormData.interest_sun" class="input-large" multiple>
                    <option></option>
                    <option ng-repeat="i in interests" value="{{i.interest_no}}">{{i.interest_nm}}</option>
                </select>
			</div>
		</div>
	</div>
	</form>
	<div class="large-12 columns">
		<div class="row">
			<div class="large-2 small-12 columns">
				<button class="button tiny is-button-blank radius" href="" ng-click="isAdvanced = !isAdvanced" >Advanced Search</button>
			</div>
			<div class="large-7 small-12 columns">
			</div>
			<div class="large-3 small-12 columns right">
				<button class="button tiny radius is-button-green right" ng-click="addNew();">Add New Subscriber</button>
			</div>
		</div>
	</div>

	<div class="large-12 columns">
		<h5 ng-show="contacts.$resolved">{{contacts.length}} contacts found.</h5>
		<h5 ng-show="contact.$resolved">1 contact found.</h5>
	</div>
	<div ng-show="contact.$resolved" class="large-12 columns search__results">
		<table>
			<tr>
				<th><a href="" ng-click="predicate = 'sublastname'; reverse=!reverse">Name</a>
				</th>
				<th><a href="" ng-click="predicate = 'sublastname'; reverse=!reverse">Business Name</a>
				</th>
				<th><a href="" ng-click="predicate = 'sublastname'; reverse=!reverse">Band Name</a>
				</th>
				<th><a href="" ng-click="predicate = 'sublastname'; reverse=!reverse">Pet Name</a>
				</th>
				<th><a href="" ng-click="predicate = 'subnumber'; reverse=!reverse">Sub Number</a>
				</th>
				<th><a href="" ng-click="predicate = 'subscription.subtypecode'; reverse=!reverse">Sub Type</a>
				</th>
				<th><a href="" ng-click="predicate = 'createddate'; reverse=!reverse">Date Joined</a>
				</th>
			</tr>
			<tr>
				<td><a href="#/contacts/{{contact.contact_no}}">{{contact.subfirstname}} {{contact.sublastname}}</a>
				</td>
				<td>{{sub.subbusinessname}}</td>
				<td>{{sub.subbandname}}</td>
				<td>{{sub.petname}}</td>
				<td>{{sub.subnumber}}</td>
				<td>{{sub.subscription.subtypecode}}</td>
				<td>{{sub.createddate}}</td>
			</tr>
		</table>
	</div>
	<div ng-show="contacts.$resolved && contacts.length != 0" class="large-12 columns search__results">
		<table class="table table-striped">
            <tr>
                <th><a href="" ng-click="predicate = 'org_nm'; reverse=!reverse">Organisation</a>
                </th>
                <th><a href="" ng-click="predicate = 'contact_nm'; reverse=!reverse">Contact</a>
                </th>
                <th><a href="" ng-click="predicate = 'email'; reverse=!reverse">Email</a><i class="icon-arrow-down"></i>
                </th>
            </tr>
            <tr ng-repeat="contact in contacts  | orderBy:predicate:reverse">

                <td><a href="/contacts/{{contact.contact_no}}">{{contact.org_nm}}</a>
                </td>
                <td>{{contact.contact_nm}}</td>
                <td>{{contact.email}}</td>
            </tr>
        </table>
	</div>
	<div class="large-12 columns search__results" ng-show="contacts.$resolved && contacts.length == 0">
		<h3>No one found yo!</h3>
	</div>

	<div class="large-12 small-12 columns">
		<div class="row">
			<div ui-view></div>
		</div>
	</div>
